<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Samesite PWA Bug</title>
    <style type="text/css">
      body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
      }
      h1,
      h2,
      h3 {
        line-height: 1.2;
      }
      footer{
        font-size: 12px;
      }
    </style>
    <link rel="manifest" href="manifest.webmanifest">
  </head>
  <body>
    <header>
      <h1>Samesite PWA test.</h1>
    </header>
    <article>
      <p>
      Demonstrates that samesite=lax cookies are lost during PWA auth flows.
      <ol>
        <li>Install this app to home screen on iOS</li>
        <li>Set cookies, observe all present</li>
        <li>Click link, observe missing lax cookie</li>
      </ol>
      </p>
      <table>
        <tr>
          <th>Cookie Name</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>none_cookie</td>
          <td><%= @none_cookie || nil %></td>
        </tr>
        <tr>
          <td>lax_cookie</td>
          <td><%= @lax_cookie || nil %></td>  
        </tr>
        <tr>
          <td>strict_cookie</td>
          <td><%= @strict_cookie || nil %></td>
        </tr>
      </table>
      <p>
        <a href="/set-cookies">Set cookies</a>
      </p>

      <p>
        <a href="https://redirect-test.dtaylor.uk">302 redirect back to here</a>
      </p>
    </article>
    <footer>
      <hr />
      by <a href="https://github.com/davidtaylorhq/safari-sw-samesite-bug">@davidtaylorhq</a>, based on demonstration by <a href="https://github.com/xfalcox/safari-sw-samesite-bug">@xfalcox</a>
    </footer>
  </body>
  <script>
    // Check that service workers are supported

    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant

      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });

    }
  </script>
</html>
