<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Apple Bug</title>
    <style type="text/css">
      body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
      }
      h1,
      h2,
      h3 {
        line-height: 1.2;
      }
    </style>
    <link rel="manifest" href="manifest.webmanifest">
  </head>
  <body>
    <header>
      <h1>Samesite PWA test.</h1>
      <aside></aside>
    </header>
    <article>
      <table>
        <tr>
          <th>Cookie Name</th>
          <th>Samesite</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>my_samesite_none_cookie</td>
          <td>None</td>
          <td id="none-val"><%= @none_cookie || nil %></td>
        </tr>
        <tr>
          <td>my_samesite_lax_cookie</td>
          <td>Lax</td>
          <td id="lax-val"><%= @lax_cookie || nil %></td>  
        </tr>
        <tr>
          <td>my_samesite_strict_cookie</td>
          <td>Strict</td>
          <td id="strict-val"><%= @strict_cookie || nil %></td>
        </tr>
      </table>
      <p>
        <a href="/set-cookies">Set cookies</a>
      </p>

       <p>
          <a href="https://gist.github.com/davidtaylorhq/5cea71c6fc3c70f9ef09f932cb69cd5d">Visit another site</a>
        </p>

        <p>
          <a href="https://redirect-test.dtaylor.uk">302 Redirect back to here via different subdomain</a>
        </p>

        <p>
          <a href="https://redirect-test.taylorhq.co.uk">302 Redirect back to here via different domain</a>
        </p>

    </article>
    <footer>
      <hr />
    </footer>
  </body>
  <script>
    // Check that service workers are supported

    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant

      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });

    }
  </script>
</html>
